<suite thread-count="1" verbose="1" name="E-commerce portal automation">
    <test name="E-commerce portal signup">
        <classes>
            <class name="TestRunner.SignupTestRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal login">
        <classes>
            <class name="TestRunner.LoginTestRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal Search Functionality">
        <classes>
            <class name="TestRunner.SearchFunctionalityRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal Cart">
        <classes>
            <class name="TestRunner.CartPageRunner"/>
        </classes>
    </test>
    <test name="E-commerce portal Checkout">
        <classes>
            <class name="TestRunner.CheckoutPageRunner"/>
        </classes>
    </test>
</suite>